.links {
    margin-left: 85%;
}
#search {
    margin-left: 70%;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
    width: 70%;
    margin-left: 15%;
    margin-right: 10%;
    margin-top: 25px;
    margin-bottom: 20%;
    padding: 4px;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}

td {
padding: 10px;
}

h4 {
    margin-left: 5%;
}