.links {
    margin-left: 90%;
}

#button {
    width:70px;
    height: 30px;
    box-shadow: 2px 2px 1px black;
    background-color: white;
    border-radius: 2px;
    margin-left: 15%;
    color: black;
}

.error {
    color: red;
}